
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Izena</th>
                            <td>{{ consulta.izena  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Helbidea</th>
                            <td>{{ consulta.helbidea | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Gaia</th>
                            <td>{{ consulta.gaia | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Enpresa</th>
                            <td>{{ consulta.enpresa | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Kontsulta</th>
                            <td>{{ consulta.kontsulta  | raw }}</td>
                        </tr>
                        </tbody>
                    </table>
