{% extends 'base.html.twig' %}

{% block title %}Consultas{% endblock %}
{% block header %}Consultas{% endblock %}
{% block header_desc %}{{ consulta.id }} ikusten{% endblock %}
{% block breadcrumbs %}
    <li class="active">Consultas</li>
    <li class="active">Ikusi</li>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <div class="box-tools box-tools-left" data-toggle="tooltip" title="" data-original-title="Status">
                        <a class="btn btn-sm btn-primary" href="{{ path('consultas_edit', {'id': consulta.id}) }}"><i class="fas fa-edit"></i> Aldatu</a>
                        <a class="btn btn-sm btn-default" href="{{ path('consultas_index') }}"><i class="fa fa-fw fa-arrow-alt-circle-left" aria-hidden="true"></i> {{ 'Zerrendara itzuli' | trans }}</a>
                        <div class="box-tools pull-right">
                            <a id="btnPrint" class="btn btn-sm btn-default" href="{{ path('consultas_print', {'id': consulta.id}) }}"><i class="fa fa-fw fa-print"></i> {{ "Inprimitu" | trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">&nbsp;</div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Izena</th>
                            <td>{{ consulta.izena }}</td>
                        </tr>
                        <tr>
                            <th>Helbidea</th>
                            <td>{{ consulta.helbidea }}</td>
                        </tr>
                        <tr>
                            <th>Gaia</th>
                            <td>{{ consulta.gaia }}</td>
                        </tr>
                        <tr>
                            <th>Enpresa</th>
                            <td>{{ consulta.enpresa }}</td>
                        </tr>
                        <tr>
                            <th>Kontsulta</th>
                            <td>{{ consulta.kontsulta }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jsDeleteForm') }}
{% endblock %}
