{% extends 'base.html.twig' %}

{% block title %}Amp{% endblock %}
{% block header %}AMP{% endblock %}
{% block header_desc %}Zerrenda{% endblock %}
{% block breadcrumbs %}
    <li class="active">AMP</li>
    <li class="active">Zerrenda</li>
{% endblock %}

{% block body %}
<div class="row">

    <div class="col-xs-12">

        {% include '_finder.html.twig' with {'table': 'amp', 'fields': fields } %}

        <div class="box">
            <div class="box-header">
                <div class="btn-group">
                    <a href="{{ path('amp_new') }}" id="btnBerria" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; {{ "Berria" | trans }}</a>
                    <a href="{{ path('pdf') }}" id="btnPrint" class="btn btn-default"><i class="fa fa-fw fa-print"></i> {{ "Inprimitu" | trans }}</a>
                    <a href="javascript:void(0);" id="btnClearSelection" class="btn btn-default">{{ "Ezabatu aukeraketa" | trans }}</a>
                </div>


                <div class="box-tools">
                    <p class="text-right">{{ "Nº Registros:" | trans }} {{ amps.getTotalItemCount |number_format(0, ',', '.') }}</p>
                </div>
                <div class="box-body">


                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <label>
                                    <input id="checkAll" type="checkbox">
                                </label>
                            </th>
                            <th>{{ knp_pagination_sortable(amps, 'Expediente', 'a.expediente') }}</th>
                            <th>{{ knp_pagination_sortable(amps, 'Fecha', 'a.fecha') }}</th>
                            <th>{{ knp_pagination_sortable(amps, 'Clasificacion', 'a.clasificacion') }}</th>
                            <th>{{ knp_pagination_sortable(amps, 'Signatura', 'a.signatura') }}</th>
                            <th>{{ knp_pagination_sortable(amps, 'Observaciones', 'a.observaciones') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for amp in amps %}
                            <tr>
                                <td><label>
                                        <input type="checkbox" name="chkSelecion[]" class="chkSelecion" value="{{ amp.id }}" data-table="amp"
                                                {% if amp.id in myselection %} checked {% endif %}
                                        >
                                    </label></td>
                                <td>{{ amp.expediente|length > 150 ? amp.expediente|slice(0,150)~'...' : amp.expediente }}</td>
                                <td>{{ amp.fecha }}</td>
                                <td>{{ amp.clasificacion }}</td>
                                <td>{{ amp.signatura }}</td>
                                <td>{{ amp.observaciones | raw }}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class=""><a href="{{ path('amp_show', {'id': amp.id}) }}"><i class="fas fa-eye btnShow"></i></a></li>
                                        <li class=""><a href="{{ path('amp_edit', {'id': amp.id}) }}"><i class="fas fa-edit btnEdit"></i></a></li>
                                        <li class=""><a href="#" class="deleteBtn" data-delete-url="{{ path('amp_delete',{'id':amp.id}) }}" data-id="{{ amp.id }}"
                                                        data-token="{{ csrf_token('delete' ~ amp.id) }}"><i class="fas fa-trash text-danger"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="navigation text-center">
                                {{ knp_pagination_render(amps) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- box -->

        </div><!-- col-xs-12 -->
    </div> <!--row -->

    {#{{ include('amp/_delete_form.html.twig', {'amp': amp}) }}#}

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('jsDeleteForm') }}
    {% endblock %}
