{% extends 'base.html.twig' %}

{% block title %}Amp index{% endblock %}
{% block header %}AMP{% endblock %}
{% block header_desc %}Zerrenda{% endblock %}
{% block breadcrumbs %}
    <li class="active">AMP</li>
    <li class="active">Zerrenda</li>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">

                    <a href="{{ path('amp_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; Berria</a>

                    <div class="box-tools">
                        <form action="{{ path('amp_index') }}" method="get">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input id="filter" type="text" name="filter" class="form-control pull-right" placeholder="Buscar" value="{{ app.request.query.get('filter') }}">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        </form>
                        Nº Registros: {{ amps.getTotalItemCount |number_format(0, ',', '.') }}
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(amps, 'Expediente', 'a.expediente') }}</th>
                            <th>{{ knp_pagination_sortable(amps, 'Fecha', 'a.fecha') }}</th>
                            <th>{{ knp_pagination_sortable(amps, 'Clasificacion', 'a.clasificacion') }}</th>
                            <th>{{ knp_pagination_sortable(amps, 'Signatura', 'a.signatura') }}</th>
                            <th>{{ knp_pagination_sortable(amps, 'Observaciones', 'a.observaciones') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for amp in amps %}
                            <tr>

                                <td>{{ amp.expediente }}</td>
                                <td>{{ amp.fecha }}</td>
                                <td>{{ amp.clasificacion }}</td>
                                <td>{{ amp.signatura }}</td>
                                <td>{{ amp.observaciones }}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline"><a href="{{ path('amp_show', {'id': amp.id}) }}"><i class="fas fa-eye"></i></a></li>
                                        <li class="list-inline"><a href="{{ path('amp_edit', {'id': amp.id}) }}"><i class="fas fa-edit"></i></a></li>
                                        <li class="list-inline"><a href="#" class="deleteBtn" data-id="{{ amp.id }}" data-token="{{ csrf_token('delete' ~ amp.id) }}"><i class="fas fa-trash text-danger"></i></a></li>
                                    </ul>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="navigation text-center">
                                {{ knp_pagination_render(amps) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- box -->

        </div><!-- col-xs-12 -->
    </div> <!--row -->

    {#{{ include('amp/_delete_form.html.twig', {'amp': amp}) }}#}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jsDeleteForm') }}
{% endblock %}
