{% extends 'base.html.twig' %}

{% block title %}Amp edit{% endblock %}
{% block header %}AMP{% endblock %}
{% block header_desc %}{{ amp.id }} ikusten{% endblock %}
{% block breadcrumbs %}
    <li class="active">AMP</li>
    <li class="active">Ikusi</li>
{% endblock %}

{% block body %}
<div class="row">

    <div class="col-xs-12">

        <div class="box">
            <div class="box-header">
                <div class="box-tools box-tools-left" data-toggle="tooltip" title="" data-original-title="Status">
                    <a class="btn btn-sm btn-primary" href="{{ path('amp_edit', {'id': amp.id}) }}"><i class="fas fa-edit"></i> Aldatu</a>
                    <a class="btn btn-sm btn-default" href="{{ path('amp_index') }}"><i class="fa fa-fw fa-arrow-alt-circle-left" aria-hidden="true"></i> {{ 'Zerrendara itzuli' | trans }}</a>
                    <div class="box-tools pull-right">
                        <a id="btnPrint" class="btn btn-sm btn-default" href="{{ path('amp_print', {'id': amp.id}) }}"><i class="fa fa-fw fa-print"></i> {{ "Inprimitu" | trans }}</a>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">&nbsp;</div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Expediente</th>
                            <td>{{ amp.expediente | raw }}</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <td>{{ amp.fecha }}</td>
                        </tr>
                        <tr>
                            <th>Clasificacion</th>
                            <td>{{ amp.clasificacion | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ amp.signatura | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Observaciones</th>
                            <td>{{ amp.observaciones | raw }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jsDeleteForm') }}
{% endblock %}
