
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Serie</th>
                            <td>{{ tabla.serie  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Unidad</th>
                            <td>{{ tabla.unidad }}</td>
                        </tr>
                        <tr>
                            <th>Resolucion</th>
                            <td>{{ tabla.resolucion  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Observaciones</th>
                            <td>{{ tabla.observaciones | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <td>{{ tabla.fecha }}</td>
                        </tr>
                        </tbody>
                    </table>
