{{ form_start(form) }}
<div class="col-xs-6">
    <div class="text-center"><h3>Zertegi</h3></div>
    <div class="row">&nbsp;</div>
    {{ form_row(form.berria) }}
    {{ form_row(form.zaharra) }}
    {{ form_row(form.egoera) }}
    {{ form_row(form.signatura) }}
</div>
<div class="col-xs-6">
    <div class="text-center"><h3>Knosys</h3></div>
    <div class="row">&nbsp;</div>
    {{ form_row(form.berrikusiBerria) }}
    {{ form_row(form.berrikusiZaharra) }}
    {{ form_row(form.berrikusiEgoera) }}
    {{ form_row(form.berrikusiSignatura) }}
</div>


<div style="display: none;">
    <button id="hiddenbutton" class="btn">{{ button_label|default('Gorde eta zerrendatik kendu') }}</button>
</div>

{{ form_end(form) }}
