<!DOCTYPE html>
<html lang="eu">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style media="screen,print">
        @page  {
            size: auto;
            margin: 0mm;
            font-size: 10px;
        }
        body
        {
            background-color:#FFFFFF;
            border: solid 1px black ;
            font-size: 10px;
            margin: 0;  /* this affects the margin on the content before sending to printer */
        }
        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
        }

        /* Create two equal columns that sits next to each other */
        .column {
            flex: 50%;
            padding: 10px;
            height: 274px; /* Should be removed. Only for demonstration */
            overflow: hidden;
        }
    </style>
    <title></title>

</head>
<body onload="window.print(); window.close();">
<div class="row">
    <div class="column">
        {% if num == "1" %}
            {{ include('hutsak/_apli.html.twig', {'id': hutsak.id}) }}
        {% endif %}
    </div>
    <div class="column">
        {% if num == "2" %}
            {{ include('hutsak/_apli.html.twig', {'id': hutsak.id}) }}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="column">
        {% if num == "3" %}
            {{ include('hutsak/_apli.html.twig', {'id': hutsak.id}) }}
        {% endif %}
    </div>
    <div class="column">
        {% if num == "4" %}
            {{ include('hutsak/_apli.html.twig', {'id': hutsak.id}) }}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="column">
        {% if num == "5" %}
            {{ include('hutsak/_apli.html.twig', {'id': hutsak.id}) }}
        {% endif %}
    </div>
    <div class="column">
        {% if num == "6" %}
            {{ include('hutsak/_apli.html.twig', {'id': hutsak.id}) }}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="column">
        {% if num == "7" %}
            {{ include('hutsak/_apli.html.twig', {'id': hutsak.id}) }}
        {% endif %}
    </div>
    <div class="column">
        {% if num == "8" %}
            {{ include('hutsak/_apli.html.twig', {'id': hutsak.id}) }}
        {% endif %}
    </div>
</div>



</body>
</html>
