{% extends 'base.html.twig' %}

{% block title %}Hutsak{% endblock %}
{% block header %}Hutsak{% endblock %}
{% block header_desc %}Zerrenda{% endblock %}
{% block breadcrumbs %}
    <li class="active">Hutsak</li>
    <li class="active">Zerrenda</li>
{% endblock %}

{% block body %}
<div class="row">

    <div class="col-xs-12">

        {% include '_finder.html.twig' with {'table': 'hutsak', 'fields': fields, 'finderdata': finderdata } %}

        <div class="box">
            <div class="box-header">
                <div class="box-header">
                    <a href="{{ path('hutsak_new') }}" id="btnBerria" class="btn btn-primary" ><i class="fa fa-plus"></i>&nbsp; {{ "Berria" | trans }}</a>
                    <a href="{{ path('pdf') }}" id="btnPrint" class="btn btn-default">
                        <i class="fa fa-fw fa-print"></i>{{ "Inprimitu" | trans }}
                        {% if app.session.get('zertegi-selection') %}
                            ({{ kount }})
                        {% endif %}
                    </a>                    <a href="javascript:void(0);" id="btnClearSelection" class="btn btn-default">{{ "Ezabatu aukeraketa" | trans }}</a>
                </div>


                <div class="box-tools">
                    Erregistro kopurua: {{ hutsaks.getTotalItemCount |number_format(0, ',', '.') }}
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <label>
                                    <input id="checkAll" type="checkbox">
                                </label>
                            </th>
                            <th>{{ knp_pagination_sortable(hutsaks, 'Egoera', 'a.egoera') }}</th>
                            <th>{{ knp_pagination_sortable(hutsaks, 'Signatura', 'a.signatura') }}</th>
                            <th>{{ knp_pagination_sortable(hutsaks, 'Zaharra', 'a.zaharra') }}</th>
                            <th>{{ knp_pagination_sortable(hutsaks, 'Berria', 'a.berria') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hutsak in hutsaks %}
                            <tr>
                                <td><label>
                                        <input type="checkbox" name="chkSelecion[]" class="chkSelecion" value="{{ hutsak.id }}" data-table="hutsak"
                                                {% if hutsak.id in myselection %} checked {% endif %}
                                        >
                                    </label>
                                </td>
                                <td>{{ hutsak.egoera }}</td>
                                <td>{{ hutsak.signatura }}</td>
                                <td>{{ hutsak.zaharra }}</td>
                                <td>{{ hutsak.berria }}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class=""><a href="{{ path('hutsak_show', {'id': hutsak.id}) }}"><i class="fas fa-eye btnShow"></i></a></li>
                                        <li class=""><a href="{{ path('hutsak_edit', {'id': hutsak.id}) }}"><i class="fas fa-edit btnEdit"></i></a></li>
                                        <li class=""><a href="#" class="deleteBtn" data-delete-url="{{ path('hutsak_delete',{'id':hutsak.id}) }}" data-id="{{ hutsak.id }}"
                                                        data-token="{{ csrf_token('delete' ~ hutsak.id) }}"><i class="fas fa-trash text-danger"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="navigation text-center">
                                {{ knp_pagination_render(hutsaks) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- box -->

        </div><!-- col-xs-12 -->
    </div> <!--row -->

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('jsDeleteForm') }}
    {% endblock %}
