
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Deskribapena</th>
                            <td>{{ argazki.deskribapena | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Barrutia</th>
                            <td>{{ argazki.barrutia | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <td>{{ argazki.fecha }}</td>
                        </tr>
                        <tr>
                            <th>Gaia</th>
                            <td>{{ argazki.gaia  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Neurria</th>
                            <td>{{ argazki.neurria | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Kolorea</th>
                            <td>{{ argazki.kolorea }}</td>
                        </tr>
                        <tr>
                            <th>Zenbakia</th>
                            <td>{{ argazki.zenbakia }}</td>
                        </tr>
                        <tr>
                            <th>Oharrak</th>
                            <td>{{ argazki.oharrak | raw  }}</td>
                        </tr>
                        </tbody>
                    </table>
