{% extends 'base.html.twig' %}

{% block title %}Argazki{% endblock %}
{% block header %}Argazki{% endblock %}
{% block header_desc %}Zerrenda{% endblock %}
{% block breadcrumbs %}
    <li class="active">Argazki</li>
    <li class="active">Zerrenda</li>
{% endblock %}

{% block body %}
<div class="row">

    <div class="col-xs-12">

        {% include '_finder.html.twig' with {'table': 'argazki', 'fields': fields } %}


        <div class="box">
            <div class="box-header">
                <div class="box-header">
                    <a href="{{ path('argazki_new') }}" id="btnBerria" class="btn btn-primary" ><i class="fa fa-plus"></i>&nbsp; {{ "Berria" | trans }}</a>
                    <a href="{{ path('pdf') }}" id="btnPrint" class="btn btn-default"><i class="fa fa-fw fa-print"></i>{{ "Inprimitu" | trans }}</a>
                    <a href="javascript:void(0);" id="btnClearSelection" class="btn btn-default">{{ "Ezabatu aukeraketa" | trans }}</a>
                </div>

                <div class="box-tools">
                    Erregistro kopurua: {{ argazkis.getTotalItemCount |number_format(0, ',', '.') }}
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <label>
                                    <input id="checkAll" type="checkbox">
                                </label>
                            </th>
                            <th>{{ knp_pagination_sortable(argazkis, 'Deskribapena', 'a.deskribapena') }}</th>
                            <th>{{ knp_pagination_sortable(argazkis, 'Barrutia', 'a.barrutia') }}</th>
                            <th>{{ knp_pagination_sortable(argazkis, 'Fecha', 'a.fecha') }}</th>
                            <th>{{ knp_pagination_sortable(argazkis, 'Gaia', 'a.gaia') }}</th>
                            <th>{{ knp_pagination_sortable(argazkis, 'Neurria', 'a.neurria') }}</th>
                            <th>{{ knp_pagination_sortable(argazkis, 'Kolorea', 'a.kolorea') }}</th>
                            <th>{{ knp_pagination_sortable(argazkis, 'Zenbakia', 'a.zenbakia') }}</th>
                            <th>{{ knp_pagination_sortable(argazkis, 'Oharrak', 'a.oharrak') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for argazki in argazkis %}
                            <tr>
                                <td><label>
                                        <input type="checkbox" name="chkSelecion[]" class="chkSelecion" value="{{ argazki.id }}" data-table="argazki"
                                                {% if argazki.id in myselection %} checked {% endif %}
                                        >
                                    </label>
                                </td>
                                <td>{{ argazki.deskribapena |length > 150 ? argazki.deskribapena|slice(0,150)~'...' : argazki.deskribapena }}</td>
                                <td>{{ argazki.barrutia }}</td>
                                <td>{{ argazki.fecha }}</td>
                                <td>{{ argazki.gaia }}</td>
                                <td>{{ argazki.neurria }}</td>
                                <td>{{ argazki.kolorea }}</td>
                                <td>{{ argazki.zenbakia }}</td>
                                <td>{{ argazki.oharrak |length > 150 ? argazki.oharrak|slice(0,150)~'...' : argazki.oharrak }}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class=""><a href="{{ path('argazki_show', {'id': argazki.id}) }}"><i class="fas fa-eye btnShow"></i></a></li>
                                        <li class=""><a href="{{ path('argazki_edit', {'id': argazki.id}) }}"><i class="fas fa-edit btnEdit"></i></a></li>
                                        <li class=""><a href="#" class="deleteBtn" data-id="{{ argazki.id }}" data-token="{{ csrf_token('delete' ~ argazki.id) }}"><i
                                                        class="fas fa-trash text-danger"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="12">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="navigation text-center">
                                {{ knp_pagination_render(argazkis) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- box -->

        </div><!-- col-xs-12 -->
    </div> <!--row -->

    {#{{ include('amp/_delete_form.html.twig', {'amp': amp}) }}#}

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('jsDeleteForm') }}
    {% endblock %}
