
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Artxiboa</th>
                            <td>{{ protokoloak.artxiboa  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Saila</th>
                            <td>{{ protokoloak.saila | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ protokoloak.signatura  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Eskribaua</th>
                            <td>{{ protokoloak.eskribaua | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Data</th>
                            <td>{{ protokoloak.data | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Laburpena</th>
                            <td>{{ protokoloak.laburpena  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Datuak</th>
                            <td>{{ protokoloak.datuak  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Oharrak</th>
                            <td>{{ protokoloak.oharrak | raw }}</td>
                        </tr>
                        <tr>
                            <th>Bilatzaileak</th>
                            <td>{{ protokoloak.bilatzaileak | raw  }}</td>
                        </tr>
                        </tbody>
                    </table>
