
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Espedientea</th>
                            <td>{{ kultura.espedientea  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Data</th>
                            <td>{{ kultura.data  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Sailkapena</th>
                            <td>{{ kultura.sailkapena  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ kultura.signatura | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Oharrak</th>
                            <td>{{ kultura.oharrak | raw  }}</td>
                        </tr>
                        </tbody>
                    </table>
