{{ form_start(form) }}
<div class="col-xs-6">
    <div class="text-center"><h3>Zertegi</h3></div>
    <div class="row">&nbsp;</div>
    {{ form_row(form.clasificacion) }}
    {{ form_row(form.expediente) }}
    {{ form_row(form.observaciones) }}
</div>
<div class="col-xs-6">
    <div class="text-center"><h3>Knosys</h3></div>
    <div class="row">&nbsp;</div>
    {{ form_row(form.berrikusi_clasificacion) }}
    {{ form_row(form.berrikusi_expediente) }}
    {{ form_row(form.berrikusi_observaciones) }}
</div>


<div style="display: none;">
    <button id="hiddenbutton" class="btn">{{ button_label|default('Gorde eta zerrendatik kendu') }}</button>
</div>

{{ form_end(form) }}
