{% extends 'pdf.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Expediente</th>
            <td>{{ anarbe.expediente | raw  }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ anarbe.fecha }}</td>
        </tr>
        <tr>
            <th>Clasificacion</th>
            <td>{{ anarbe.clasificacion | raw  }}</td>
        </tr>
        <tr>
            <th>Signatura</th>
            <td>{{ anarbe.signatura | raw  }}</td>
        </tr>
        <tr>
            <th>Observaciones</th>
            <td>{{ anarbe.observaciones | raw  }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
{% endblock %}
