{% extends 'base.html.twig' %}

{% block title %}Kirola{% endblock %}
{% block header %}Kirola{% endblock %}
{% block header_desc %}{{ kirola.id }} ikusten{% endblock %}
{% block breadcrumbs %}
    <li class="active">Kirola</li>
    <li class="active">Ikusi</li>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <div class="box-tools box-tools-left" data-toggle="tooltip" title="" data-original-title="Status">
                        <a class="btn btn-sm btn-primary" href="{{ path('gazteria_edit', {'id': kirola.id}) }}"><i class="fas fa-edit"></i> Aldatu</a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">&nbsp;</div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ kirola.id }}</td>
                        </tr>
                        <tr>
                            <th>Espedientea</th>
                            <td>{{ kirola.espedientea }}</td>
                        </tr>
                        <tr>
                            <th>Data</th>
                            <td>{{ kirola.data }}</td>
                        </tr>
                        <tr>
                            <th>Sailkapena</th>
                            <td>{{ kirola.sailkapena }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ kirola.signatura }}</td>
                        </tr>
                        <tr>
                            <th>Oharrak</th>
                            <td>{{ kirola.oharrak }}</td>
                        </tr>
                        <tr>
                            <th>Numdoc</th>
                            <td>{{ kirola.numdoc }}</td>
                        </tr>
                        <tr>
                            <th>Knosysid</th>
                            <td>{{ kirola.knosysid }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jsDeleteForm') }}
{% endblock %}
