<ul class="sidebar-menu" data-widget="tree">
    <li class="header">AUKERATU</li>
    <li class="">
        <a href="{{ path('amp_index') }}"><i class="fas fa-link"></i> <span>AMP</span></a>
    </li>
    <li class="">
        <a href="{{ path('anarbe_index') }}"><i class="fas fa-link"></i> <span>Anarbe</span></a>
    </li>

    <li class="">
        <a href="{{ path('argazki_index') }}"><i class="fas fa-link"></i> <span>Argazki</span></a>
    </li>

    <li class="">
        <a href="{{ path('ciriza_index') }}"><i class="fas fa-link"></i> <span>Ciriza</span></a>
    </li>

   <li class="">
        <a href="{{ path('ciriza_index') }}"><i class="fas fa-link"></i> <span>Ciriza</span></a>
    </li>

   <li class="">
        <a href="{{ path('consultas_index') }}"><i class="fas fa-link"></i> <span>Consultas</span></a>
    </li>

   <li class="">
        <a href="{{ path('entradas_index') }}"><i class="fas fa-link"></i> <span>Entradas</span></a>
    </li>

   <li class="">
        <a href="{{ path('euskera_index') }}"><i class="fas fa-link"></i> <span>Euskera</span></a>
    </li>

  <li class="">
    <a href="{{ path('gazteria_index') }}"><i class="fas fa-link"></i> <span>Gazteria</span></a>
  </li>

  <li class="">
    <a href="{{ path('kirola_index') }}"><i class="fas fa-link"></i> <span>Kirola</span></a>
  </li>

  <li class="">
    <a href="{{ path('hutsak_index') }}"><i class="fas fa-link"></i> <span>Hutsak</span></a>
  </li>

  <li class="">
    <a href="{{ path('kontratazioa_index') }}"><i class="fas fa-link"></i> <span>Kontratazioa</span></a>
  </li>

  <li class="">
    <a href="{{ path('kultura_index') }}"><i class="fas fa-link"></i> <span>Kultura</span></a>
  </li>

  <li class="">
    <a href="{{ path('liburuxka_index') }}"><i class="fas fa-link"></i> <span>Liburuxka</span></a>
  </li>

  <li class="">
    <a href="{{ path('obratxikiak_index') }}"><i class="fas fa-link"></i> <span>Obra Txikiak</span></a>
  </li>

  <li class="">
    <a href="{{ path('pendientes_index') }}"><i class="fas fa-link"></i> <span>Pendientes</span></a>
  </li>

  <li class="">
    <a href="{{ path('protokoloak_index') }}"><i class="fas fa-link"></i> <span>Protokoloak</span></a>
  </li>

  <li class="">
    <a href="{{ path('salidas_index') }}"><i class="fas fa-link"></i> <span>Salidas</span></a>
  </li>

  <li class="">
    <a href="{{ path('tablas_index') }}"><i class="fas fa-link"></i> <span>Tablas</span></a>
  </li>

</ul>
