<ul class="sidebar-menu" data-widget="tree">
    <li class="header">AUKERATU</li>
    <li class="{% if app.request.get('_route') starts with "amp_" %}active {% endif %} treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>AMP</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li {% if app.request.get('_route') in ["amp_index", "amp_edit", "amp_show" ] %}class="active" {% endif %}><a href="{{ path('amp_index') }}">Zerrenda</a></li>
            <li {% if app.request.get('_route') == "amp_new" %}class="active" {% endif %}><a href="{{ path('amp_new') }}">Berria</a></li>
        </ul>
    </li>

    <li class="{% if app.request.get('_route') starts with "anarbe_" %}active {% endif %} treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Añarbe</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li {% if app.request.get('_route') in ["anarbe_index", "anarbe_edit", "anarbe_show"] %}class="active" {% endif %}><a href="{{ path('anarbe_index') }}">Zerrenda</a></li>
            <li {% if app.request.get('_route') == "anarbe_new" %}class="active" {% endif %}><a href="{{ path('anarbe_new') }}">Berria</a></li>
        </ul>
    </li>

    <li class="{% if app.request.get('_route') starts with "argazki_" %}active {% endif %} treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Argazki</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li {% if app.request.get('_route') in ["argazki_index", "argazki_edit", "argazki_show"] %}class="active" {% endif %}><a href="{{ path('argazki_index') }}">Zerrenda</a></li>
            <li {% if app.request.get('_route') == "argazki_new" %}class="active" {% endif %}><a href="{{ path('argazki_new') }}">Berria</a></li>
        </ul>
    </li>

    <li class="{% if app.request.get('_route') starts with "ciriza_" %}active {% endif %} treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Ciriza</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li {% if app.request.get('_route') in ["ciriza_index", "ciriza_edit", "ciriza_show"] %}class="active" {% endif %}><a href="{{ path('ciriza_index') }}">Zerrenda</a></li>
            <li {% if app.request.get('_route') == "ciriza_new" %}class="active" {% endif %}><a href="{{ path('ciriza_new') }}">Berria</a></li>
        </ul>
    </li>

    <li class="{% if app.request.get('_route') starts with "consultas_" %}active {% endif %} treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Consultas</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li {% if app.request.get('_route') in ["consultas_index", "consultas_edit", "consultas_show"] %}class="active" {% endif %}><a href="{{ path('consultas_index') }}">Zerrenda</a></li>
            <li {% if app.request.get('_route') == "consultas_new" %}class="active" {% endif %}><a href="{{ path('consultas_new') }}">Berria</a></li>
        </ul>
    </li>

    <li class="{% if app.request.get('_route') starts with "entradas_" %}active {% endif %} treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Entradas</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li {% if app.request.get('_route') in ["entradas_index", "entradas_edit", "entradas_show"] %}class="active" {% endif %}><a href="{{ path('entradas_index') }}">Zerrenda</a></li>
            <li {% if app.request.get('_route') == "entradas_new" %}class="active" {% endif %}><a href="{{ path('entradas_new') }}">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Euskera</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Gazteria</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Hutsak</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Kontratazioa</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Kultur Saila</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Liburuxkak</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Obra txikiak</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Pendientes</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Protokoloak</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Salidas</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fas fa-link"></i> <span>Tablas</span>
            <span class="pull-right-container"></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">Zerrenda</a></li>
            <li><a href="#">Berria</a></li>
        </ul>
    </li>

</ul>
