{% extends 'base.html.twig' %}

{% block title %}Entradas{% endblock %}
{% block header %}Entradas{% endblock %}
{% block header_desc %}Zerrenda{% endblock %}
{% block breadcrumbs %}
    <li class="active">Entradas</li>
    <li class="active">Zerrenda</li>
{% endblock %}

{% block body %}
<div class="row">

    <div class="col-xs-12">
        {% include '_finder.html.twig' with {'table': 'entradas', 'fields': fields , 'finderdata': finderdata , 'logs': logs } %}

        <div class="box">
            <div class="box-header">
                <div class="box-header">
                    <a href="{{ path('entradas_new') }}" id="btnBerria" class="btn btn-primary" ><i class="fa fa-plus"></i>&nbsp; {{ "Berria" | trans }}</a>
                    <a href="{{ path('pdf') }}" id="btnPrint" class="btn btn-default">
                        <i class="fa fa-fw fa-print"></i>{{ "Inprimitu" | trans }}
                        {% if app.session.get('zertegi-selection') %}
                            <span id="mySeleccionCount">{% if kount > 0 %}({{ kount }}) {% endif %}</span>
                        {% else %}
                            <span id="mySeleccionCount"></span>
                        {% endif %}
                    </a>
                    <a href="javascript:void(0);" id="btnClearSelection" class="btn btn-default">{{ "Ezabatu aukeraketa" | trans }}</a>
                </div>

                <div class="box-tools">
                    Erregistro kopurua: {{ entradas.getTotalItemCount |number_format(0, ',', '.') }}
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <label>
                                    <input id="checkAll" type="checkbox">
                                </label>
                            </th>
                            <th>{{ knp_pagination_sortable(entradas, 'Data', 'a.data') }}</th>
                            <th>{{ knp_pagination_sortable(entradas, 'Igorlea', 'a.igorlea') }}</th>
                            <th>{{ knp_pagination_sortable(entradas, 'Deskribapena', 'a.deskribapena') }}</th>
                            <th>{{ knp_pagination_sortable(entradas, 'Signatura', 'a.signatura') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entrada in entradas %}
                            <tr>
                                <td><label>
                                        <input type="checkbox" name="chkSelecion[]" class="chkSelecion" value="{{ entrada.id }}" data-table="entradas"
                                                {% if entrada.id in myselection %} checked {% endif %}
                                        >
                                    </label>
                                </td>
                                <td>{{ entrada.data }}</td>
                                <td>{{ entrada.igorlea }}</td>
                                <td>{{ entrada.deskribapena | raw}}</td>
                                <td>{{ entrada.signatura }}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class=""><a href="{{ path('entradas_show', {'id': entrada.id}) }}"><i class="fas fa-eye btnShow"></i></a></li>
                                        <li class=""><a href="{{ path('entradas_edit', {'id': entrada.id}) }}"><i class="fas fa-edit btnEdit"></i></a></li>
                                        <li class=""><a href="#" class="deleteBtn" data-delete-url="{{ path('entradas_delete',{'id':entrada.id}) }}" data-id="{{ entrada.id }}"
                                                        data-token="{{ csrf_token('delete' ~ entrada.id) }}"><i class="fas fa-trash text-danger"></i></a></li>
                                    </ul>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="navigation text-center">
                                {{ knp_pagination_render(entradas) }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="navigation text-right">
                                <nav>
                                    <div class="pagination">
                                        <div class="form-group">
                                            <label for="cmblimit">Orrikatzea: &nbsp;</label>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-flat"
                                                   href="{{ path('entradas_index', {'limit':10}) }}">10</a>
                                                <a class="btn btn-default btn-flat"
                                                   href="{{ path('entradas_index', {'limit':25}) }}">25</a>
                                                <a class="btn btn-default btn-flat"
                                                   href="{{ path('entradas_index', {'limit':50}) }}">50</a>
                                                <a class="btn btn-default btn-flat"
                                                   href="{{ path('entradas_index', {'limit':100}) }}">100</a>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>



                </div>
            </div><!-- box -->

        </div><!-- col-xs-12 -->
    </div> <!--row -->

    {#{{ include('amp/_delete_form.html.twig', {'amp': amp}) }}#}

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('jsDeleteForm') }}
        {{ encore_entry_script_tags('jsDaterangepicker') }}

    {% endblock %}
