{% extends 'base.html.twig' %}

{% block title %}Entradas{% endblock %}
{% block header %}Entradas{% endblock %}
{% block header_desc %}Zerrenda{% endblock %}
{% block breadcrumbs %}
    <li class="active">Entradas</li>
    <li class="active">Zerrenda</li>
{% endblock %}

{% block body %}
<div class="row">

    <div class="col-xs-12">

        <div class="box">
            <div class="box-header">

                <a href="{{ path('entradas_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; Berria</a>

                <div class="box-tools">
                    <form action="{{ path('entradas_index') }}" method="get">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input id="filter" type="text" name="filter" class="form-control pull-right" placeholder="Buscar" value="{{ app.request.query.get('filter') }}">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                    Erregistro kopurua: {{ entradas.getTotalItemCount |number_format(0, ',', '.') }}
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(entradas, 'Data', 'a.data') }}</th>
                            <th>{{ knp_pagination_sortable(entradas, 'Igorlea', 'a.igorlea') }}</th>
                            <th>{{ knp_pagination_sortable(entradas, 'Deskribapena', 'a.deskribapena') }}</th>
                            <th>{{ knp_pagination_sortable(entradas, 'Signatura', 'a.signatura') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entrada in entradas %}
                            <tr>
                                <td>{{ entrada.data }}</td>
                                <td>{{ entrada.igorlea }}</td>
                                <td>{{ entrada.deskribapena }}</td>
                                <td>{{ entrada.signatura }}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class=""><a href="{{ path('entradas_show', {'id': entrada.id}) }}"><i class="fas fa-eye"></i></a></li>
                                        <li class=""><a href="{{ path('entradas_edit', {'id': entrada.id}) }}"><i class="fas fa-edit"></i></a></li>
                                        <li class=""><a href="#" class="deleteBtn" data-delete-url="{{ path('entradas_delete',{'id':entrada.id}) }}" data-id="{{ entrada.id }}" data-token="{{ csrf_token('delete' ~ entrada.id) }}"><i class="fas fa-trash text-danger"></i></a></li>
                                    </ul>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="navigation text-center">
                                {{ knp_pagination_render(entradas) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- box -->

        </div><!-- col-xs-12 -->
    </div> <!--row -->

    {#{{ include('amp/_delete_form.html.twig', {'amp': amp}) }}#}

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('jsDeleteForm') }}
    {% endblock %}
