{% extends 'base.html.twig' %}

{% block title %}Entradas{% endblock %}
{% block header %}Entradas{% endblock %}
{% block header_desc %}{{ entrada.id }} ikusten{% endblock %}
{% block breadcrumbs %}
    <li class="active">Entradas</li>
    <li class="active">Ikusi</li>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <div class="box-tools box-tools-left" data-toggle="tooltip" title="" data-original-title="Status">
                        <a class="btn btn-sm btn-primary" href="{{ path('entradas_edit', {'id': entrada.id}) }}"><i class="fas fa-edit"></i> Aldatu</a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">&nbsp;</div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entrada.id }}</td>
                        </tr>
                        <tr>
                            <th>Data</th>
                            <td>{{ entrada.data }}</td>
                        </tr>
                        <tr>
                            <th>Igorlea</th>
                            <td>{{ entrada.igorlea }}</td>
                        </tr>
                        <tr>
                            <th>Deskribapena</th>
                            <td>{{ entrada.deskribapena }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ entrada.signatura }}</td>
                        </tr>
                        <tr>
                            <th>Numdoc</th>
                            <td>{{ entrada.numdoc }}</td>
                        </tr>
                        <tr>
                            <th>Knosysid</th>
                            <td>{{ entrada.knosysid }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jsDeleteForm') }}
{% endblock %}
