{% extends 'base.html.twig' %}

{% block title %}Liburuxka{% endblock %}
{% block header %}Liburuxka{% endblock %}
{% block header_desc %}Zerrenda{% endblock %}
{% block breadcrumbs %}
    <li class="active">Liburuxka</li>
    <li class="active">Zerrenda</li>
{% endblock %}

{% block body %}
<div class="row">

    <div class="col-xs-12">

        {% include '_finder.html.twig' with {'table': 'liburuxka', 'fields': fields } %}

        <div class="box">
            <div class="box-header">
                <div class="box-header">
                    <a href="{{ path('liburuxka_new') }}" id="btnBerria" class="btn btn-primary" ><i class="fa fa-plus"></i>&nbsp; {{ "Berria" | trans }}</a>
                    <a href="{{ path('pdf') }}" id="btnPrint" class="btn btn-default">{{ "Inprimitu" | trans }}</a>
                    <a href="javascript:void(0);" id="btnClearSelection" class="btn btn-default">{{ "Ezabatu aukeraketa" | trans }}</a>
                </div>

                <div class="box-tools">
                    Erregistro kopurua: {{ liburuxkas.getTotalItemCount |number_format(0, ',', '.') }}
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <label>
                                    <input id="checkAll" type="checkbox">
                                </label>
                            </th>
                            <th>{{ knp_pagination_sortable(liburuxkas, 'Deskribapena', 'a.deskribapena') }}</th>
                            <th>{{ knp_pagination_sortable(liburuxkas, 'Data', 'a.data') }}</th>
                            <th>{{ knp_pagination_sortable(liburuxkas, 'Azalpenak', 'a.azalpenak') }}</th>
                            <th>{{ knp_pagination_sortable(liburuxkas, 'Signatura', 'a.signatura') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for liburuxka in liburuxkas %}
                            <tr>
                                <td><label>
                                        <input type="checkbox" name="chkSelecion[]" class="chkSelecion" value="{{ liburuxka.id }}" data-table="liburuxka"
                                                {% if liburuxka.id in myselection %} checked {% endif %}
                                        >
                                    </label>
                                </td>
                                <td>{{ liburuxka.deskribapena }}</td>
                                <td>{{ liburuxka.data }}</td>
                                <td>{{ liburuxka.azalpenak }}</td>
                                <td>{{ liburuxka.signatura }}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class=""><a href="{{ path('liburuxka_show', {'id': liburuxka.id}) }}"><i class="fas fa-eye btnShow"></i></a></li>
                                        <li class=""><a href="{{ path('liburuxka_edit', {'id': liburuxka.id}) }}"><i class="fas fa-edit btnEdit"></i></a></li>
                                        <li class=""><a href="#" class="deleteBtn" data-delete-url="{{ path('liburuxka_delete',{'id':liburuxka.id}) }}" data-id="{{ liburuxka.id }}"
                                                        data-token="{{ csrf_token('delete' ~ liburuxka.id) }}"><i class="fas fa-trash text-danger"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="navigation text-center">
                                {{ knp_pagination_render(liburuxkas) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- box -->

        </div><!-- col-xs-12 -->
    </div> <!--row -->

    {#{{ include('amp/_delete_form.html.twig', {'amp': amp}) }}#}

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('jsDeleteForm') }}
    {% endblock %}
