{% extends 'base.html.twig' %}

{% block title %}Gazteria{% endblock %}
{% block header %}Gazteria{% endblock %}
{% block header_desc %}{{ gazterium.id }} ikusten{% endblock %}
{% block breadcrumbs %}
    <li class="active">Gazteria</li>
    <li class="active">Ikusi</li>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <div class="box-tools box-tools-left" data-toggle="tooltip" title="" data-original-title="Status">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-sm btn-primary" href="{{ path('gazteria_edit', {'id': gazterium.id}) }}"><i class="fas fa-edit"></i> Aldatu</a>
                        {% endif %}
                        <a class="btn btn-sm btn-default" href="{{ path('gazteria_index') }}"><i class="fa fa-fw fa-arrow-alt-circle-left" aria-hidden="true"></i> {{ 'Zerrendara itzuli' | trans }}</a>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                                Etiketa inprimatu
                            </button>
                            <a id="btnPrint" class="btn btn-sm btn-default" href="{{ path('gazteria_print', {'id': gazterium.id}) }}"><i class="fa fa-fw fa-print"></i> {{ "Inprimitu" | trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">&nbsp;</div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Espedientea</th>
                            <td>{{ gazterium.espedientea  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Data</th>
                            <td>{{ gazterium.data | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Sailkapena</th>
                            <td>{{ gazterium.sailkapena | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ gazterium.signatura  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Oharrak</th>
                            <td>{{ gazterium.oharrak  | raw }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ include('gazteria/_apli_modal.html.twig') }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jsDeleteForm') }}
{% endblock %}
