{% extends 'pdf.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ kontratazioa.id }}</td>
        </tr>
        <tr>
            <th>Espedientea</th>
            <td>{{ kontratazioa.espedientea  | raw }}</td>
        </tr>
        <tr>
            <th>Sailkapena</th>
            <td>{{ kontratazioa.sailkapena | raw }}</td>
        </tr>
        <tr>
            <th>Signatura</th>
            <td>{{ kontratazioa.signatura | raw }}</td>
        </tr>
        <tr>
            <th>Urtea</th>
            <td>{{ kontratazioa.urtea | raw }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
{% endblock %}
