{% extends 'base.html.twig' %}

{% block title %}Kontratazioa{% endblock %}
{% block header %}Kontratazioa{% endblock %}
{% block header_desc %}{{ kontratazioa.id }} ikusten{% endblock %}
{% block breadcrumbs %}
    <li class="active">Kontratazioa</li>
    <li class="active">Ikusi</li>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <div class="box-tools box-tools-left" data-toggle="tooltip" title="" data-original-title="Status">
                        <a class="btn btn-sm btn-primary" href="{{ path('kontratazioa_edit', {'id': kontratazioa.id}) }}"><i class="fas fa-edit"></i> Aldatu</a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">&nbsp;</div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ kontratazioa.id }}</td>
                        </tr>
                        <tr>
                            <th>Espedientea</th>
                            <td>{{ kontratazioa.espedientea }}</td>
                        </tr>
                        <tr>
                            <th>Urtea</th>
                            <td>{{ kontratazioa.urtea }}</td>
                        </tr>
                        <tr>
                            <th>Sailkapena</th>
                            <td>{{ kontratazioa.sailkapena }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ kontratazioa.signatura }}</td>
                        </tr>
                        <tr>
                            <th>Numdoc</th>
                            <td>{{ kontratazioa.numdoc }}</td>
                        </tr>
                        <tr>
                            <th>Knosysid</th>
                            <td>{{ kontratazioa.knosysid }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jsDeleteForm') }}
{% endblock %}

