{% extends 'base.html.twig' %}

{% block title %}Kontratazioa{% endblock %}
{% block header %}Kontratazioa{% endblock %}
{% block header_desc %}{{ kontratazioa.id }} ikusten{% endblock %}
{% block breadcrumbs %}
    <li class="active">Kontratazioa</li>
    <li class="active">Ikusi</li>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <div class="box-tools box-tools-left" data-toggle="tooltip" title="" data-original-title="Status">
                        <a class="btn btn-sm btn-primary" href="{{ path('kontratazioa_edit', {'id': kontratazioa.id}) }}"><i class="fas fa-edit"></i> Aldatu</a>
                        <a class="btn btn-sm btn-default" href="{{ path('kontratazioa_index') }}"><i class="fa fa-fw fa-arrow-alt-circle-left" aria-hidden="true"></i> {{ 'Zerrendara itzuli' | trans }}</a>
                        <div class="box-tools pull-right">
                            <a id="btnPrint" class="btn btn-sm btn-default" href="{{ path('kontratazioa_print', {'id': kontratazioa.id}) }}"><i class="fa fa-fw fa-print"></i> {{ "Inprimitu" | trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">&nbsp;</div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Espedientea</th>
                            <td>{{ kontratazioa.espedientea }}</td>
                        </tr>
                        <tr>
                            <th>Urtea</th>
                            <td>{{ kontratazioa.urtea }}</td>
                        </tr>
                        <tr>
                            <th>Sailkapena</th>
                            <td>{{ kontratazioa.sailkapena }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ kontratazioa.signatura }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jsDeleteForm') }}
{% endblock %}

