
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ ciriza.signatura  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Data</th>
                            <td>{{ ciriza.data  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Deskribapena</th>
                            <td>{{ ciriza.deskribapena  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Sailkapena</th>
                            <td>{{ ciriza.sailkapena }}</td>
                        </tr>
                        <tr>
                            <th>Oharrak</th>
                            <td>{{ ciriza.oharrak | raw  }}</td>
                        </tr>
                        </tbody>
                    </table>
