{% extends 'pdf.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ ciriza.id }}</td>
        </tr>
        <tr>
            <th>Deskribapena</th>
            <td>{{ ciriza.deskribapena  | raw }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ ciriza.data  | raw }}</td>
        </tr>
        <tr>
            <th>Sailkapena</th>
            <td>{{ ciriza.sailkapena | raw }}</td>
        </tr>
        <tr>
            <th>Signatura</th>
            <td>{{ ciriza.signatura | raw  }}</td>
        </tr>
        <tr>
            <th>Oharrak</th>
            <td>{{ ciriza.oharrak  | raw }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
{% endblock %}
