
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Espedientea</th>
                            <td>{{ salida.espedientea | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ salida.signatura  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Eskatzailea</th>
                            <td>{{ salida.eskatzailea  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Irteera</th>
                            <td>{{ salida.irteera  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Sarrera</th>
                            <td>{{ salida.sarrera  | raw }}</td>
                        </tr>
                        </tbody>
                    </table>
