{% extends 'base.html.twig' %}

{% block title %}Salidas aldatu{% endblock %}
{% block header %}Salidas{% endblock %}
{% block header_desc %}{{ salida.id }} aldatzen{% endblock %}
{% block breadcrumbs %}
    <li class="active">Salidas</li>
    <li class="active">Aldatu</li>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <div class="box-tools box-tools-left" data-toggle="tooltip" title="" data-original-title="Status">
                        <a id="btn-save" class="btn btn-sm btn-primary"><i class="fa fa-save"></i>&nbsp; Gorde</a>
                        <a class="btn btn-sm btn-danger btn-delete-trigger" href="#"><i class="fas fa-trash"></i> Eliminar</a>
                        <div style="display: none">
                            {{ include('salidas/_delete_form.html.twig') }}
                        </div>
                        <a class="btn btn-sm btn-default" href="{{ path('salidas_index') }}"><i class="fa fa-fw fa-arrow-alt-circle-left" aria-hidden="true"></i> {{ 'Zerrendara itzuli' | trans }}</a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">&nbsp;</div>
                    {{ include('salidas/_form.html.twig', {'button_label': 'Update'}) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
