{% extends 'base.html.twig' %}

{% block title %}Salida{% endblock %}
{% block header %}Salida{% endblock %}
{% block header_desc %}{{ salida.id }} ikusten{% endblock %}
{% block breadcrumbs %}
    <li class="active">Salida</li>
    <li class="active">Ikusi</li>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <div class="box-tools box-tools-left" data-toggle="tooltip" title="" data-original-title="Status">
                        <a class="btn btn-sm btn-primary" href="{{ path('salidas_edit', {'id': salida.id}) }}"><i class="fas fa-edit"></i> Aldatu</a>
                        <a class="btn btn-sm btn-default" href="{{ path('salidas_index') }}"><i class="fa fa-fw fa-arrow-alt-circle-left" aria-hidden="true"></i> {{ 'Zerrendara itzuli' | trans }}</a>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                                Etiketa inprimatu
                            </button>
                            <a id="btnPrint" class="btn btn-sm btn-default" href="{{ path('salidas_print', {'id': salida.id}) }}"><i class="fa fa-fw fa-print"></i> {{ "Inprimitu" | trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">&nbsp;</div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Espedientea</th>
                            <td>{{ salida.espedientea | raw  }}</td>
                        </tr>
                        <tr>
                            <th>Signatura</th>
                            <td>{{ salida.signatura  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Eskatzailea</th>
                            <td>{{ salida.eskatzailea  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Irteera</th>
                            <td>{{ salida.irteera  | raw }}</td>
                        </tr>
                        <tr>
                            <th>Sarrera</th>
                            <td>{{ salida.sarrera  | raw }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ include('salidas/_apli_modal.html.twig') }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('jsDeleteForm') }}
{% endblock %}
